
<body class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let musics of musicTable">
      <div class="card">
        <div  class="card-body">
          <img class="card-img-top" src="../../assets/img{{musicTable.id}}.jpg" alt="Card image cap">

          <h5 class="card-artist">Beethoven</h5>
          <p class="card-title">9th Symphony</p>
         
          <div class="d-flex justify-content-around align-items-center">
              <audio id="player" controls>
                  <source src="../../assets/{{musiTable.titre}}-{{musicTable.artiste}}" type="audio/mpeg">
                </audio> 
            
            <img id="addTo" src=".\src\assets\plus.png" alt="add">

          </div>
        </div>

      </div>
    </div>
  </div>
</body>
