<main class="container-fluid">
  
  <div id="search-general">
    <div class="row" id="row-search">
        <div id="search">
            <input id="inputsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div id="buttonsearch" (click)="displaySearch()"></div>
        </div>
    </div>
  </div>

  <div class="row" id="myBiblio">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let music of musicTable">
      <div class="card">
        <div class="card-body">

          <img class="card-img-top" src=".\src\assets\musics\{{music.lien_img}}" alt="Album-image">
          <h5 class="card-artist">{{music.interprete}}</h5>
          <p class="card-title">{{music.titre}}</p>

          <div class="d-flex justify-content-around align-items-center">
            <div class="dropup pos-f-t">
              <button type="" class="addTo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="addTo" src=".\src\assets\plus.png" alt="add">
              </button>
              <div class="dropdown-menu">
                <p class="addTitle">Add to :</p>
                <div *ngFor="let playList of list">
                  <a id="pl" routerLink="/playlist" (click)="addTo(playList, music)">{{playList.name}}</a>
                </div>
              </div>
            </div>
            <audio id="player" controls>
              <source src=".\src\assets\musics\{{music.lien_audio}}" type="audio/mpeg">
            </audio>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>