body{
    background-color:  #383737;
    height: 100%; 
    color: GoldenRod;
    padding: 5vh 5vw 5vh 5vw;
}

.card{
    background-color: white;
    margin:0;
    padding: 0;
    position: relative;
    width: 80%;
    padding:0;
    border: solid 3px goldenrod;
    border-radius: 15px;
    box-shadow: 6px 6px 6px black;
    overflow: hidden;
}
.card-body{
    padding: 0;
}

img {
    width: 100%;
    height: auto;
   

}

.card-artist {
    position: relative;
    margin: 0;
    padding-left: 1vh;
    border-top: solid 3px goldenrod;
    width: 100%;
    z-index: 1;
    color: #383737;
}

.card-title {
    position: relative;
    margin: 0;
    width: 100%;
    color: GoldenRod;
    padding-left: 1.5vh;
}

#player {
    width: 85%;
}

#addTo {
width: 10%;
height: 100%;
}