<div class="container-fluid">

    <h1>Genres et Humeurs !</h1>

    <div class="card-deck">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/pop.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/hiphop.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hip-Hop</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/classique.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Classique</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/ambiance.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ambiance</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/chill.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Chill</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/jazz.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jazz</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/electro.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Electro</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/rock.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rock</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/indie.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Indie</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <img class="card-img-top" src="../../assets/film.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Film</h5>
          </div>
        </div>
      </div>
    </div>

</div>
