<div class="container-fluid">
  <div id="rowHead" class="row">

    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="iconMenu" src="../../assets/menu-buttonWhite.png">
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <div class="row" id="stBiblio">
            <div class="col-2">
              <div id="biblioImg" class="menuImg" routerLink="/biblio"></div>
            </div>
            <div class="col-8">
              <h3 class="dropdown-item" id="biblioText" routerLink="/biblio">Bibliothèque</h3>
            </div>
          </div>
          
          <div class="row" id="stGenre">
            <div class="col-2">
              <div id="genreImg" class="menuImg" routerLink="/genre"></div>
            </div>
            <div class="col-8">
              <h3 class="dropdown-item" id="genreText" routerLink="/genre">Genre</h3>
            </div>
          </div>

          <div class="row" id="stList">
            <div class="col-2">
              <div id="listImg" class="menuImg" routerLink="/list"></div>
            </div>
            <div class="col-7">
              <h3 class="dropdown-item" id="listText" routerLink="/list">Playlist</h3>
            </div>
            <div class="col-2">
              <div id="plusImg" class="menuImg"></div>
            </div>
          </div>

          <div class="row">
            <ul>
              <li><h5 class="sousSousTitre" routerLink="/playlist">myPlaylist 1</h5></li>
              <li><h5 class="sousSousTitre" routerLink="/playlist">myPlaylist 2</h5></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    
          <svg class="col-10">
              <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">SCADmusic</text>
              </symbol>
            
              <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
              </g>
            </svg>
      

  </div>
</div>
