<div class="container-fluid">
  <div class="row">
    <div class="col-3">

      <div class="pos-f-t">
        <nav class="navbar navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4">
            <div id="stBiblio" class="sousTitre">
              <div id="biblioImg" class="menuImg" routerLink="/biblio"></div>
              <h4 id="biblioText" routerLink="/biblio">Bibliothèque</h4>
            </div>
            <div id="stList" class="sousTitre">
              <div id="listImg" class="menuImg" routerLink="/list"></div>
              <h4 id="listText" routerLink="/list">Playlist</h4>
              <div id="plusImg" class="menuImg"></div>
            </div>
            <ul>
              <li>
                <h6 class="sousSousTitre" routerLink="/playlist">myPlaylist 1</h6>
              </li>
              <li>
                <h6 class="sousSousTitre">myPlaylist 2</h6>
              </li>
              <li>
                <h6 class="sousSousTitre">myPlaylist 3</h6>
              </li>
            </ul>
            <span class="text-muted">Une idée orignale de SCAD_music</span>
          </div>
        </div>
        
      </div>

    </div>

    <div id="titre" class="col-6">
      <span> <h1>S C A D<h3> _music</h3></h1> </span>
    </div>

    <div id="search" class="col-3">
      <form class="form-inline">
        <input id="inputsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <div id="buttonsearch" (click)="displaySearch()"></div>
      </form>
    </div>

  </div>
</div>
