#rowPlay{
    position: fixed;
    bottom: 0;
    background-color:rgba(0, 0, 0);
    width: 100%;
    padding: 1vh;
    z-index: 100;
    margin: 0;
}
.col-3, .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
p, h5 {
    margin: 0;
}
img{
    width: auto;
    height: 50px;
}
