#rowPlay{
    position: fixed;
    bottom: 0;
    background-color:rgba(0, 0, 0);
    width: 100%;
    padding: 1vh;
    z-index: 100;
}
.col-3{
    display: flex;
    justify-content: center;

}
.col-6{
    display: flex;
    justify-content: center;
    
}