main {
    background-color: #383737;
    padding: 5vw;
    position: absolute;
    top: 10vh;
}
.grid, .col-12, figure {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 1em;
}