<div class="container-fluid">
  <div class="row">
    <div class="col-3 colonne">
      <div class="card" style="width: 80%;">
        <img class="card-img-top img-play" src="../../assets/musique.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Playlist Rock</h5>
          <a href="#" class="btn btn-dark">Voir</a>
          <img src="../../assets/waste.png" id="waste">
        </div>
      </div>
    </div>
  

    <div class="col-3">
      <div class="card ajouter" style="width: 80%;">
        <img class="card-img-top img-add" src="../../assets/plus.png" alt="Card image cap">
      </div>
    </div>
  </div>
</div>