/* General*/
.container-fluid {
    background-color:  #383737;
    padding: 5vw;
    position: absolute;
    top: 10vh;
}
h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5vh;
}

/* "Delete" button style*/
#waste {
    margin-left: 0.3vw;
    width: 2.5vw;
    float: right;
}
#waste {
    cursor: pointer;
}

/* "view" button style */
.btn {
    background-color: black;
    color:white;
    margin-left: 0.2vw;
    font-weight: bold;
    border: solid 2px black;
}
.btn:hover {
    background-color: white;
    color: black;
}

/* Card design */
.card {
    border: solid 3px goldenrod;
    border-radius: 15px;
    margin: 2vh;
    box-shadow: 6px 6px 6px black;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Card animation */
.card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s;
}
.card:not(:hover) { 
    transition: 0.5s;
}
.card-body {
    height: 15vh;
}

/* Manage mosaic img layout */
.img-play {
    width: 50%;
    float: left;
}
#haut-gche {
    border-radius: 13px 0px 0px 0px;
}
#haut-dte {
    border-radius: 0px 13px 0px 0px;
}
#bas-gche, #bas-dte {
    border-radius: 0px 0px 0px 0px;;
}
#mosaique {
    border-bottom: solid 3px goldenrod;
}

/* "Add" card style */
.ajouter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-add {
    width: 8vw;
}
.img-add:hover {
    cursor: pointer;
}