/* General*/
.container-fluid {
    background-color:  #383737;
    padding: 5vw;
    position: absolute;
    top: 10vh;
}
h5 {
    text-align: center;
    font-weight: bold;
    color: white;
}

/* "Delete" button style*/
#waste {
    width: 2vw;
    height: 2vw;
}
#waste:hover {
    cursor: pointer;
}
#eye {
    width: 2vw;
    height: 2vw;
}
#eye:hover {
    cursor: pointer;
}


/* "view" button style */
.btn {
    background-color: black;
    color:white;
    margin-left: 0.2vw;
    font-weight: bold;
    border: solid 2px black;
}
.btn:hover {
    background-color: white;
    color: black;
}

/* Card design */
.plusCard {
    border: solid 3px goldenrod;
    border-radius: 15px;
    box-shadow: 6px 6px 6px black;
    
    -webkit-transform: scale(1);
    transform: scale(1);
    position: absolute;
}

#myCard  {
    height: 100%;
    width: 100%;
    border: solid 3px goldenrod;
    border-radius: 15px;
}

#text-img {
    position: absolute;
    bottom:0;
    width: 92%;
    height: 22%;
    border-radius: 0px 0px 15px 15px;
    opacity: 0.8;
    background-color: black;
    padding: 0;
    margin: 0;
}

#inside-text-img {
    display: flex;
    padding-top: 1.5vh;
    justify-content: space-around; 
}

/* Card animation */
/*
.plusCard:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s;
}
.plusCard:not(:hover) { 
    transition: 0.5s;
}

#myCard:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s; 
}
#myCard:not(:hover) { 
    transition: 0.5s;
}
*/
/* Manage mosaic img layout */
.img-play {
    width: 50%;
    float: left;
}
#haut-gche {
    border-radius: 13px 0px 0px 0px;
}
#haut-dte {
    border-radius: 0px 13px 0px 0px;
}
#bas-gche {
    border-radius: 0px 0px 0px 13px;;
}
#bas-dte {
    border-radius: 0px 0px 13px 0px;;
}


/* "Add" card style */
.ajouter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
}
.img-add {
    width: 8vw;
}
.img-add:hover {
    cursor: pointer;
}